In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("googleplaystore.csv")

In [3]:
df[df['Category'].str.contains('\d',na=False)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up,NaN

In [4]:
# Specify the row index and position to insert
row_index_to_insert = 0  # Change this to your desired row index
insert_position = 1  # Change this to the position where you want to insert the new value

# Specify the new value to insert
new_value = 'dummy text'  # Change this to your desired new value

# Use insert to add a new column with the specified value at the specified position
# df.insert(insert_position, 'New_Column', new_value)

# Use shift to shift the values from the specified position to the right
df.iloc[row_index_to_insert, insert_position + 1:] = df.iloc[row_index_to_insert, insert_position:-1].values

# Display the updated DataFrame
df.head()

C:\Users\karth\AppData\Local\Temp\ipykernel_29636\327966356.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.9' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[row_index_to_insert, insert_position + 1:] = df.iloc[row_index_to_insert, insert_position:-1].values

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Life Made WI-Fi Touchscreen Photo Frame,1.9,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,61,7.0M,"100,000+",Free,0,Everyone,Art & Design;Action & Adventure,07-Mar-18,1.0.0,4.1 and up
3,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,Varies with device,"10,000,000+",Free,0,Everyone,Art & Design,30-Jul-18,Varies with device,Varies with device
4,Textgram - write on photos,ART_AND_DESIGN,4.4,295237,Varies with device,"10,000,000+",Free,0,Everyone,Art & Design,30-Jul-18,Varies with device,Varies with device

In [5]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [6]:
df_new = df[['App', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Last Updated', 'Current Ver'
       ]]

In [7]:
def null_check(df):
    for i in df.columns:
        check_nan = df[i].isnull().sum()
        print(i, check_nan)

In [8]:
null_check(df_new)

App 0
Reviews 0
Size 0
Installs 0
Type 1
Price 0
Last Updated 0
Current Ver 8

In [9]:
df_new = df_new[~df_new['Type'].isnull()]
df_new.reset_index(drop=True, inplace=True)

df_new = df_new[~df['Current Ver'].isnull()]
df_new.reset_index(drop=True, inplace=True)
null_check(df)

App 0
Category 0
Rating 1474
Reviews 0
Size 0
Installs 0
Type 1
Price 0
Content Rating 0
Genres 1
Last Updated 0
Current Ver 8
Android Ver 2

C:\Users\karth\AppData\Local\Temp\ipykernel_29636\3761225340.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_new = df_new[~df['Current Ver'].isnull()]

In [10]:
df_new['Last Updated'] = pd.to_datetime(df_new['Last Updated'], format='%d-%b-%y')
df_new['Reviews']=df['Reviews'].astype(int)

In [11]:
df_new['Size'] = df_new['Size'].str.replace('M', '')
df_new['Installs'] = df_new['Installs'].str.replace('+', '')
df_new['Price'] = df_new['Price'].str.replace('$', '')
df_new['Price']=df_new['Price'].astype(float)
df_new.head()

,App,Reviews,Size,Installs,Type,Price,Last Updated,Current Ver
0,Life Made WI-Fi Touchscreen Photo Frame,19,3.0,"1,000",Free,0.0,2018-02-11,1.0.19
1,Coloring book moana,967,14,"500,000",Free,0.0,2018-01-15,2.0.0
2,Mcqueen Coloring pages,61,7.0,"100,000",Free,0.0,2018-03-07,1.0.0
3,Textgram - write on photos,295221,Varies with device,"10,000,000",Free,0.0,2018-07-30,Varies with device
4,Textgram - write on photos,295237,Varies with device,"10,000,000",Free,0.0,2018-07-30,Varies with device

In [12]:
# Reset the index of the DataFrame
df_new = df_new.reset_index(drop=True)
df_new=df_new[(df["Current Ver"]!="Varies with device") & (df_new["Size"]!="Varies with device")] 
df_new.head()

C:\Users\karth\AppData\Local\Temp\ipykernel_29636\1537892513.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_new=df_new[(df["Current Ver"]!="Varies with device") & (df_new["Size"]!="Varies with device")]

,App,Reviews,Size,Installs,Type,Price,Last Updated,Current Ver
0,Life Made WI-Fi Touchscreen Photo Frame,19,3.0,"1,000",Free,0.0,2018-02-11,1.0.19
1,Coloring book moana,967,14,"500,000",Free,0.0,2018-01-15,2.0.0
2,Mcqueen Coloring pages,61,7.0,"100,000",Free,0.0,2018-03-07,1.0.0
5,UNICORN - Color By Number & Pixel Art Coloring,8145,24,"500,000",Free,0.0,2018-08-02,1.0.9
6,Photo Editor & Candy Camera & Grid & ScrapBook,159,19,"10,000",Free,0.0,2018-01-07,1.0.0

In [13]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8153 entries, 0 to 10831
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App           8153 non-null   object
 1   Reviews       8153 non-null   int32
 2   Size          8153 non-null   object
 3   Installs      8153 non-null   object
 4   Type          8153 non-null   object
 5   Price         8153 non-null   float64
 6   Last Updated  8153 non-null   datetime64[ns]
 7   Current Ver   8150 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(5)
memory usage: 541.4+ KB

In [14]:
null_check(df_new)

App 0
Reviews 0
Size 0
Installs 0
Type 0
Price 0
Last Updated 0
Current Ver 3

In [15]:
df_new.to_csv("processed_googleplaystore.csv", index=False)